.action-header {
    background-image: url('https://images.unsplash.com/photo-1500064171035-d88a47d65074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1082&q=80');
}

.citations-list {
    list-style-type: none;
}

#accordion, .card, .collapse {
    background: none !important;
    border: none !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    margin-left: 0 !important;
    padding-left: 0 !important;
    border: none !important;
}

.card-image {
    width: 20em;
}