/**************** CONTENT *******************/
.citations-list {
    list-style-type: none;
}

#accordion, .card, .collapse {
    background: none !important;
    border: none !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    margin-left: 0 !important;
    padding-left: 0 !important;
    border: none !important;
}

.card-image {
    width: 20em;
}

.page-header {
    /* margin: 0 10em 0 10em !important; */
    background: linear-gradient(
        to bottom, 
        var(--dark-main-1),
        10%,
        var(--light-bg-1)
    ); 
}
#home-container {
    background: var(--light-bg-1);
    padding: 0 10em 2em 10em !important;
    /* margin: 0 10em 0 10em !important; */
}