* {
  box-sizing: border-box;
}

a {
    color: white;
}

a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

/* #refresh-button {
  margin-left: 7px;
} */

.filters {
  background: blue;
}
#gallery-page {
    padding: 0 !important;
    margin: 0 !important;
}

.grid {
    max-width: 100%;
    width: 100%;
    /* padding: 0 !important;
    margin: 0 !important; */
}

/* .grid:after {
    content: '';
    display: block;
    clear: both;
} */

.grid-sizer,
.grid-item {
    width: 25%;
}

/* .grid-filters {
  display: none;
} */

.grid-item {
    float: left;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
}

.grid-item img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 0.5em;
    text-align: center;
}
