html {
    --image-container-color: #AEDFDB;
    --info-container-color: #75C9CC;
    --info-container-color: #F8F8F8;
    --link-hover-color: #111111;
    --link-color: white;
    --list-color: #333333;
}

#species-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0 !important;
}

#species-image-container {
    /* background: var(--image-container-color); */
    flex-grow: 1;
}

#species-name, #species-image, #canvas, #pixel_factor, #pixel_label {
    display: block;
    margin: auto;
}

.species-attribute {
    padding-bottom: 1.5em;
}

label {
    text-align: center;
}

#species-info-container {
    background: var(--info-container-color);

    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "name name kingdom phylum class"
                        "status status order family genus"
                        "description description description description description"
                        "citations citations citations citations citations";
    justify-content: space-between;

    flex-grow: 3;
}

#name-wrapper {
    grid-area: name;
}

#status-wrapper {
    grid-area: status;
}

#description-wrapper {
    grid-area: description;
}

#citations-wrapper {
    grid-area: citations;
}

#kingdom-wrapper {
    grid-area: kindgom;
}

#phylum-wrapper {
    grid-area: phylum;
}

#class-wrapper {
    grid-area: class;
}

#order-wrapper {
    grid-area: order;
}

#family-wrapper {
    grid-area: family;
}

#genus-wrapper {
    grid-area: genus;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
/* 
li {
  float: left;
}

li a {
  display: block;
  color: var(--link-color) !important;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: var(--link-hover-color);
}

ul {
  background-color: var(--list-color);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
} */
