.species-info-box {
  align-self: flex-start;
  background-color: white;
  padding: 20px;
  position: relative;
  transform: translate(-5%, 50%);
}

.species-name {
    color: var(--light-bg-1);
}

.species-name h1 {
    font-size: 150%;
    line-height: 0.7;
    text-transform: uppercase;
}

.species-name h2 {
    font-size: 120%;
    font-style: italic;
}

#population-container {
    font-size: 600%;
    line-height: 0.9;
}

canvas {
    padding-top: 25px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}