/**************** VARIABLES *******************/
:root {
    --accent: #AB887C;
    --light-main-2: #606158;
    --light-main-1: #34462a;
    --main: #13250c;
    --dark-main-1: #0a0c0d;
    --light-bg-1: #a2b09b;
    --light-bg-2: #9cb4ba;
}

/**************** MAIN ******************/
body {
    padding: 0;
    margin: 0;
    background: var(--dark-main-1);
    color: var(--light-main-2);
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.link {
    font-weight: bold !important;
}

hr {
    color: var(--accent);
}

/**************** NAVBAR TRANSPARENT *******************/
.navbar-brand {
    text-transform: uppercase;
    margin-left: 20px;
    letter-spacing: 0px;
    font-size: 1.5em;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-item {
    margin-left: 10px;
}

.nav-link {
    text-transform: uppercase;
    padding: 10px;
    color: white;
}

.nav-link:hover {
    color: var(--accent);
}

.nav-btn {
    outline: 2px solid var(--accent);
}

.nav-btn:hover {
    background: var(--accent);
    color: white;
}

/**************** NAVBAR WHITE *******************/
.bg-nav {
    background: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.bg-nav .navbar-brand {
    color: var(--dark-main-1);
}

.bg-nav .nav-link {
    color: var(--dark-main-1) !important;
}

/**************** PAGES *******************/
.page-header {
    margin-top: 65px;
}

a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}

.content {
    padding: 2em 10em 2em 10em !important;
    color: whitesmoke !important;
}

.content a {
    color: whitesmoke !important;
}

.content a:hover {
    color: var(--accent) !important;
}

/**************** HEADER *******************/
.info-header {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
    color: white;
}

#map {      	
    height: 100%;
    width: 100%;
}