/**************** VARIABLES *******************/
:root {
  --main: #7EC8C2;
  --body: #000;
}

/**************** MAIN *******************/
body {
  padding: 0;
  margin: 0;
  color: var(--body);
  background-color: var(--main);
  background-image: url('https://images.alphacoders.com/887/887559.jpg'); /* just as a filler */

}

/**************** NAVBAR *******************/
.bg-nav {
  background: #fff;
}

.navbar-brand {
  text-transform: uppercase;
  margin-left: 20px;
  letter-spacing: 0px;
  font-size: 2em;
}

.navbar-collapse {
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  text-transform: uppercase;
  padding: 10px;
}

.nav-btn {
  outline: 2px solid var(--main);
}

.nav-btn:hover {
  background: var(--main);
}

/**************** HEADER *******************/
header {
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 70px;
  text-align: center;
}