* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body { font-family: sans-serif;
}

.grid {
  background: #DDD;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
