* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
}

#refresh-button {
    margin-left: 7px;
}

#gallery-page {
  padding: 0 !important;
  margin: 0 !important;
}

.grid {
  max-width: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
}