#species-page {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    height: 100vh;
}

#species-image-container {
    background: #AEDFDB;
    flex-grow: 1;
}

#species-name, #species-image, #canvas, #pixel_factor {
    display: block;
    margin: auto;
}

#species-info-container {
    background: #75C9CC;
    flex-grow: 3;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}